<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Brian Henry</h1>
    <br />
    <h2>Blacksage Tattoo</h2>
    <br />
    
  <div class="row feature text-center">
    <div class="col-12 col-sm">
      <h3><img src="tat1.jpg" alt="Tattoo 1" height="50px" width="50px"></h3>
    </div>

    <div class="col-12 col-sm">
      <h3>Feature 2</h3>
    </div>

    <div class="col-12 col-sm">
     <h3>Feature 3</h3>
    </div>

    </div>
  </div>
</div>


