<div class="hero">
  <br />
  <div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1>BRIAN HENRY</h1>
    <h4>BLACKSAGE TATTOO</h4>
    <br />
    </div>
   </div>
</div>

<br />
<br />
  <div class="row feature text-center">
    <div class="col-12 col-sm">
     <%= image_tag '2.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm">
      <%= image_tag '1.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm">
      <%= image_tag '3.jpg', class: 'img-fluid' %>
  </div>
 


