@import "bootstrap";

 .navbar {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 200;
  font-size: 20px;
  #background: image_url('bg3.png')
}

.navbar-inverse a.navbar-brand {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 100;
  color: white;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.text-center {
  font-family: 'Yantramanav', sans-serif;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.frosty h1 {
  font-family: 'Asap Condensed', sans-serif;
}

.frosty h2 {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.row feature text-center {
  margin-left: center;
  margin-right: center;
}
